/*******************************/
/*rem and em do NOT depend on html font-size in media queries!
Instead, 1rem = 1em = 16px*/

/*******************************/
/* Below 1200px (Landscape Tablets) */
/*******************************/

@media (max-width: 75em) {
  html {
    font-size: 56.25%;
  }

  .port-body-text {
    font-weight: 400;
    font-size: 2rem;
    color: var(--gw-900);
    margin-bottom: 2rem;
  }
}

/*******************************/
/* Below 1000px (Tablets) */
/*******************************/

@media (max-width: 62.5em) {
  html {
    font-size: 50%;
  }
}

/*******************************/
/* Below 700px ( Small Tablets) */
/*******************************/

@media (max-width: 44em) {
  html {
    font-size: 50%;
  }

  .port-title {
    font-size: 6rem;
    margin: 8rem 0 2.4rem 0;
    line-height: 90%;
  }

  .opener-grid {
    grid: auto auto / 1fr;
  }
  .opener-title {
    grid-column: 1 / span 1;
  }

  .opener-secondary-textblock {
    background-color: var(--gw-800);
    justify-content: center;
    flex-direction: row;
    gap: 10%;
    padding: 3.2rem 10%;
    margin: 2rem 10% 4rem;
  }

  .port-sidebar-title {
    color: var(--gw-500);
    font-size: 2.2rem;
    font-weight: 600;
    margin: 0 -0.2rem 1.2rem 0;
  }

  .port-sidebar-list {
    list-style: disc inside none;
    color: var(--gw-000);
    font-size: 1.6rem;
    line-height: 1.6;
  }

  .bento-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 1.2rem;
  }

  .item1 {
    grid-area: 1 / 1 / 2 / 5;
  }
  .item2 {
    grid-area: 2 / 1 / 2 / 3;
    height: 30rem;
  }
  .item3 {
    grid-area: 2 / 3 / 3 / 5;
    height: 30rem;
  }
  .item4 {
    display: none;
  }

  .chapter-text-block {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }

  .chapter-title-container {
    position: relative;
    margin-left: 0.5rem;
    margin-bottom: 2.4rem;
  }
  .chapter-text-container {
    border-left: none;
    padding-left: 0;
  }
}

/*******************************/
/* Below 550px ( Phones) */
/*******************************/

@media (max-width: 34em) {
  /* text stylings */

  .port-title {
    font-size: 7rem;
    margin: 8rem 0 2.4rem 0;
    line-height: 90%;
  }

  .port-title span {
    font-size: 4.5rem;
    color: var(--gw-600);
    line-height: 102%;
  }

  .portfolio-wrapper {
    margin: 0 auto 0 auto;
  }

  /* Opener */

  .opener-splash {
    display: none;
  }

  .opener-splash-mobile {
    display: block;
  }

  .opener-primary-textblock {
    margin-top: 2.4rem;
  }

  .opener-secondary-textblock {
    gap: 7%;
    padding: 3.2rem 0;
    margin: 2rem 0 4rem;
  }

  .no-mobile {
    display: none;
  }

  .double-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.2rem;
  }
}
