/*******************************/
/*rem and em do NOT depend on html font-size in media queries!
Instead, 1rem = 1em = 16px*/

/*******************************/
/* Below 1200px (Landscape Tablets) */
/*******************************/

@media (max-width: 75em) {
  html {
    font-size: 56.25%;
  }
}
/*******************************/
/* Below 1000px (Tablets) */
/*******************************/

@media (max-width: 62.5em) {
  html {
    font-size: 50%;
  }
}

/*******************************/
/* Below 700px ( Small Tablets) */
/*******************************/

@media (max-width: 44em) {
  html {
    font-size: 50%;
  }

  .port-title {
    font-size: 6rem;
    margin: 13rem 0 2.4rem 0;
    line-height: 90%;
  }

  .opener-grid {
    grid: auto auto / 1fr;
  }
  .opener-title {
    grid-column: 1 / span 1;
  }
}

/*******************************/
/* Below 550px ( Phones) */
/*******************************/

@media (max-width: 34em) {
  /* text stylings */

  .port-title {
    font-size: 5rem;
    margin: 13rem 0 2.4rem 0;
    line-height: 90%;
  }

  .port-title span {
    color: var(--gw-600);

    line-height: 102%;
  }

  .portfolio-wrapper {
    margin: 0 auto 0 auto;
    padding: 0 2.4rem;
  }

  /* Opener */

  .opener-splash {
    display: none;
  }

  .opener-splash-mobile {
    display: block;
  }

  .opener-primary-textblock {
    margin-top: 2.4rem;
  }

  .opener-secondary-textblock {
    background: radial-gradient(
      75% 130% at 80% 75%,
      rgb(23, 63, 95) 15%,
      #12283a 100%
    );
    padding: 2rem 2rem 4.5rem 3.2rem;
    /* border: 0.2rem solid #4293d7; */
    margin: 2rem 5rem 4rem 5rem;
    border-radius: 1.6rem;
    box-shadow: 0 0.3rem 0.5rem #12283a10;
  }
}
