---
import MainLayout from "../layouts/MainLayout.astro"

const pageTitle = "Gary Wintle's Portfolio";

import '../styles/portfolio.css';
import '../styles/queries-port.css';

---

<MainLayout pageTitle={pageTitle}><h2>The Surfin' Burrito?</h2></MainLayout>





